jwt:
  auth:
    converter:
      resource-id:
        name: edufy-gateway-service
      principle-attribute: preferred_username

server:
  port: 4505

keycloak:
  auth-server-url: ${KEYCLOAK_AUTH_SERVER_URL:http://localhost:8080}
  realm: ${KEYCLOAK_REALM:edufy-realm}
  client-id: ${KEYCLOAK_CLIENT_ID:edufy-gateway-service}
  kcBootstrapAdminUsername: ${KC_BOOTSTRAP_ADMIN_USERNAME:BSadmin}
  kcBootstrapAdminPassword: ${KC_BOOTSTRAP_ADMIN_PASSWORD:BSadmin}

spring:
  application:
    name: edufy-gateway-service

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/edufy-realm
          jwk-set-uri: http://keycloak:8080/realms/edufy-realm/protocol/openid-connect/certs


  cloud:
    gateway:
      mvc:
        routes:
          - id: edufy-music-service
            uri: http://edufy-music-service:4525
            predicates:
              - Path=/api/music/**
            filters:
              - StripPrefix=1

          - id: edufy-pod-service
            uri: http://edufy-pod-service:4535
            predicates:
              - Path=/api/pod/**
            filters:
              - StripPrefix=1

          - id: edufy-video-service
            uri: http://edufy-video-service:4545
            predicates:
              - Path=/api/video/**
            filters:
              - StripPrefix=1

          - id: edufy-ratings-service
            uri: http://edufy-ratings-service:4585
            predicates:
              - Path=/api/ratings/**
            filters:
              - StripPrefix=1

          - id: edufy-user-service
            uri: http://edufy-user-service:4515
            predicates:
              - Path=/api/users/**
            filters:
              - StripPrefix=1

          - id: edufy-album-service
            uri: http://edufy-album-service:4565
            predicates:
              - Path=/api/album/**
            filters:
              - StripPrefix=1

          - id: edufy-artist-service
            uri: http://edufy-artist-service:4555
            predicates:
              - Path=/api/artist/**
            filters:
              - StripPrefix=1

          - id: edufy-recommendations-service
            uri: http://edufy-recommendations-service:4575
            predicates:
              - Path=/api/recommendations/**

            - id: edufy-history-service
              uri: http://edufy-history-service:4595
              predicates:
                - Path=/api/history/**
              filters:


  profiles:
    active: prod

logging:
  level:
    org.springframework.security: DEBUG

